# Docker volumes / Persistent data
grafana/data/
prometheus/data/
loki/data/
# Lokale Grafana-Daten
docker-compose/grafana-data/

# Prometheus persistente Daten
docker-compose/prometheus/data/

# Loki persistente Daten
docker-compose/loki/data/
